/** so that there is enough space for the whole last card to be seen when the textarea expands to 4 rows */
div.ant-card.ant-card-bordered:last-child {
    margin-bottom: 0%;
}

div.ant-card-body {
    padding-bottom: initial;
}

div.ant-card-body:hover {
    background: #f8f8f8;
}

ul.ant-card-actions {
    width: 14%;
    margin: auto;
    /* border: 1px solid #f0f0f0; */
    border: 1.5px solid lightgray;
    border-radius: 5px;

    /* move the actions at the top right -> it works perfectly well with this percentage at all zoom levels */
    position: absolute;
    top: 0;
    right: 0;

    /*  */
    display: none;
    width: max-content;
}

ul.ant-card-actions>li {
    margin: 0;
    /* border-right: 1px solid #f0f0f0; */
}

ul.ant-card-actions>li:not(:last-child) {
    /* otherwise the default ant design style would be shown */
    border-right: 0px solid;
}

ul.ant-card-actions>li:hover {
    background: #f0f0f0;
    border-radius: 4px;
}

.ant-card-meta.message-meta .ant-card-meta-detail .ant-card-meta-description {
    display: inline;
    text-decoration: none;
    font-size: 12px;
}

.ant-card-meta.message-meta .ant-card-meta-detail .ant-card-meta-description:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ant-card-meta.message-meta .ant-card-meta-detail .ant-card-meta-title {
    font-weight: bold;
    font-size: 15px;
}

.ant-card-meta.message-meta .ant-card-meta-detail .ant-card-meta-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ant-card-meta.message-meta .ant-card-meta-avatar {
    padding-right: .2%;
}