/* :global .ant-modal-content {
    border-radius: 7px !important;
    background: #f8f8f8;
} */
/*TODO responsiveness regulate sizes + it doesn't look exactly as in Slack when the Console is closed  */

:global .anticon.anticon-close.ant-modal-close-icon {
    /*! it is in effect globally for the other close modal buttons too, not just in this component */
    padding: 17%;
}

:global .anticon.anticon-close.ant-modal-close-icon:hover {
    background: #f6f6f6;
    border-radius: 3px;
}

.button {
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
}

.whiteGrayButton {
    composes: button;

    color: black;
    background: white;
    border-color: rgb(192, 190, 190);
    /* border-color: rgb(173, 171, 171); */
}

.whiteGrayButton:hover {
    /* background: lightgray; */
    color: black;
    background: #F8F8F8;
    border-color: rgb(192, 190, 190);
}

.uploadButton {
    composes: button;
    composes: whiteGrayButton;

    width: 192px;
    margin-top: 3.75%;
}

.cancelButton{
    composes: whiteGrayButton;

    margin-right: 3.5%;
}

.saveButton {
    composes: button;
    /* margin-left: 3.5%; */
    color: white;
    background: #007A5A;
    border-color: #007A5A;
}

.saveButton:hover {
    color: white;
    background: #148567;
    border-color: #007A5A;
}

.label{
    font-weight: 600;
}