.contentWrapper {
    width: 90%;
    margin: auto;
}

.marginBottom5 {
    margin-bottom: 5%;
}

.emailInput {
    composes: marginBottom5;
    height: fit-content;
    width: 100%;
    /* margin: auto; */
}

.emailInput:focus {
    border-color: #096dd9;
    border-width: 1.5px;
    /* border-right-width: 1px!important; */
    outline: 0;
    -webkit-box-shadow: 0 0 0 4px rgb(24 144 255 / 20%);
    box-shadow: 0 0 0 4px rgb(24 144 255 / 20%);
}

.emailInput::placeholder {
    color: rgb(92, 88, 88);
    font-size: 1.2em;
    /* opacity: 1; */
}

.createLink {
    font-weight: bold;
    color: #1264A3;
}

.createLink:hover {
    text-decoration: underline;
}

.mainContainer {
    text-align: center;
}

:global #password-input::placeholder {
    color: rgb(92, 88, 88);
    font-size: 1.2em;
}

.providerSigninButton {
    composes: marginBottom5;
    background-color: white;
    font-weight: bold;
    /* textShadow: 'none' */
}

.github {
    composes: providerSigninButton;
    color: black;
}

.google {
    composes: providerSigninButton;
    color: #4285f4;
}

.foc:focus {
    background-color: rgb(78, 0, 78, 0.5);
}