.contentWrapper {
    width: 90%;
    margin: auto;
}

.innerCard {
    border-style: none;
    border-radius: 0;
    border-bottom: 1.5px solid lightgrey;
    margin-bottom: 0;
}

.innerCard:hover {
    background: lightcoral;
}