.contentWrapper {
    width: 90%;
    margin: auto;
}

.innerCard {
    border-style: none;
    border-radius: 0;
    margin-bottom: 0;
}

.innerCard:not(:last-child) {
    border-bottom: 1.5px solid lightgrey;
}

.innerCard:hover {
    background: lightcoral;
}


.createWorkspace {
    border: 1px solid grey;
    background: white;
    font-weight: bold;
}

.createWorkspace:hover {
    border: 1px solid grey;
    background: #d3d3d36b;
}