.profileImg {
    /* height: 33px; */
    height: 28px;
    /* float: right; */
    /* margin-right: 2.5%; */
    border-radius: 15%;
    /* margin-top: 0.5vh; */
    margin-top: 1vh;
    cursor: pointer;
}

.profileImg:hover {
    opacity: 0.8;
}

.flR {
    float: right;
    margin-right: 2.5%;

}

.icon {
    color: #007a5a;
    content: "\E506";
}

.icon:before {
    content: "\E506";
}

.icon:after {
    content: "\200B";
}

.profileInfoMeta {
    cursor: default;
    padding: 4% 2%;
    max-width: fit-content;
    user-select: none;
}