/* .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
} */

.site-layout .site-layout-background {
    background: #fff;
}

.site-layout-background {
    min-height: 8vh;
    max-height: 8vh;
}

[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.sidebar {
    /* min-width: 50px;
    max-width: 50px;
    width: 50px; */
    border-top: 1px red solid;
}

/* .ant-col, */
.column-with-slider,
.ant-layout-sider-children {
    /* #col, .ant-layout-sider-children { */
    /* background-color: red; */
    /* padding: 17px 0 17px 17px; */
    /* width: 300px; */
    height: 100vh;
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    -webkit-mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

/* .ant-col, */
.column-with-slider:hover,
.ant-layout-sider-children:hover {
    /* #col:hover { */
    /* background-color: black; */
    mask-position: left top;
    -webkit-mask-position: left top;
}

#new-message-textarea {
    /* display: block; */
    width: 95%;
    margin: auto;
    border: 1px solid grey;
}

/* 
#new-message-textarea {
    position: fixed;
    bottom: 5%;
    display: block;
    width: 95%;
    margin: 0 auto;
    border: 1px solid grey;

}

.ant-card {
    width: 99%;
    margin: auto;
}
*/

.loading {
    background-color: red;
}

.message-card-avatar {
    float: left;
    display: inline;
}

.message-card-text {
    display: inline;
}

.message-timestamp {
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}

.message-author {
    display: inline;
    margin-right: .5em;
}

/*! this is the message textarea's Clear Button */
span[role="button"].anticon.anticon-close-circle.ant-input-clear-icon {
    font-size: 25px;
    /* transform: translateY(-30%) translateX(-41%); */
    transform: translate(-41%, -30%);
}