@import '~antd/dist/antd.min.css';

@font-face {
  font-family: 'Slack-Lato';
  src: url('Lato-Reg.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Slack-Lato', -apple-system, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}